/** Basic elements */
body, input, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

#header {
  background-color: lightgray;
  margin-bottom: 10px;
  padding: 3px;
}

#header h1 {
  font-size: 18pt;
  display: inline;
  margin-right: 20px;
}

#navigation {
  display: inline-block;
  list-style: none;
}

#navigation li {
  display: inline-block;
  margin: 0px 20px 0px 20px;
}

#userinfo {
  float: right;
}

#wrapper {
  padding: 7px;
}

#footer {
  font-size: 9pt;
  text-align: center;
  margin-top: 20px;
}

.clear {
  clear: both;
}

/** Main bug list */
#bug-list {
  width: 100%;

  background-color: rgb(204, 204, 204);
  border-spacing: 1px;
  border-collapse: separate;
}

#bug-list th {
  background-color: rgb(83, 132, 187);
  padding: 3px;
  text-align: left;
}

#bug-list tr td {
  padding: 3px;
}

#bug-list tr:nth-child(odd) {
  background-color: rgb(220, 231, 251);
}
#bug-list tr:nth-child(even) {
  background-color: rgb(242, 242, 242);
}

/** Bug display */
#bug-content {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, rgb(255,255,255)),
    color-stop(1, #BBBDE3)
  );
  background: ;-moz-linear-gradient(
    center bottom,
    rgb(255,255,255) 90%,
    #BBBDE3 100%
  );
}

#bug-title input {
  width: 99%;
  margin: 3px;
}

#bug-comments {
  width: 70%;
  padding: 3px;

  display: inline-block;

  background-color: white;

  border-color: black;
  border-style: solid;
  border-width: 1px 1px 0px 0px;
}

#metadata {
  width: 29%;
  display: inline-block;
  vertical-align: top;
}

#attributes {
  padding: 5px;
}

#attributes input {
  width: 90%;
  padding: 3px;
}

#attributes dt {
  display: inline-block;
  width: 48%;
  font-weight: bold;
  clear: both;
}

  #attributes dt input {
    background-color: #8BACD0;
    border: 1px solid black;
  }

#attributes dd {
/*  width: 20%;*/
  display: inline-block;
  width: 48%;
}

  #attributes dd input {
    background-color: #C5D6E8;
    border: 1px solid black;
  }

/** System Options */
#settings {
  width: 75%;
  margin: auto;

  background-color: rgb(204, 204, 204);
  border-spacing: 1px;
  border-collapse: separate;
}

#settings tr {
  background-color: white;
}

#settings th {
  text-align: left;
  width: 35%;
  padding: 3px;
}

#settings th label {
  display: block;
}

#settings th dfn {
  font-size: 10pt;
  font-weight: normal;
}

#settings td {
  vertical-align: middle;
  text-align: center;
  padding: 3px;
}

#settings td input[type="text"] {
  width: 80%;
}
