body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

#header {
  background-color: lightgray;
  margin-bottom: 10px;
}

#userinfo {
  float: right;
}

#bug-list {
  width: 100%;

  background-color: rgb(204, 204, 204);
  border-spacing: 1px;
  border-collapse: separate;
}

#bug-list th {
  background-color: rgb(83, 132, 187);
  padding: 3px;
  text-align: left;
}

#bug-list tr td {
  padding: 3px;
}

#bug-list tr:nth-child(odd) {
  background-color: rgb(220, 231, 251);
}
#bug-list tr:nth-child(even) {
  background-color: rgb(242, 242, 242);
}

#attributes dt {
  float: left;
}
