<!--
  Bugdar 2
  Copyright (c) 2010 Blue Static
  
  This program is free software: you can redistribute it and/or modify it
  under the terms of the GNU General Public License as published by the Free
  Software Foundation, either version 3 of the License, or any later version.
  
  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
  more details.
 
  You should have received a copy of the GNU General Public License along with
  this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<phpunit bootstrap="./common.php"
         backupGlobals="FALSE"
         backupStaticAttributes="FALSE"
         colors="TRUE">

  <testsuites>
    <testsuite name="Events">
      <directory suffix="_test.php">./tests/</directory>
      <directory suffix="_test.php">./tests/events/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <blacklist>
      <directory>./</directory>  <!-- Don't get coverage for test files. -->
      <directory>../zend_lucene/</directory>
      <directory>../phalanx/</directory>
    </blacklist>
  </filter>

  <logging>
    <log type="coverage-html" target="./unittest_coverage" yui="TRUE" highlight="TRUE"/>
  </logging>
</phpunit>
